.task-item {
  display: flex;
  line-height: 25px;
  font-size: 18px;
  align-items: center;
  text-transform: capitalize;
  border-radius: 8px;
  padding: 10px 0;
  transition: box-shadow 0.1s ease-in-out;

  &__category {
    margin-left: 18px;
    padding: 0 30px;
    background: #ea5959;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }

  &:hover {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  &:hover &__delete-button {
    opacity: 0.5;
  }

  &__delete-button {
    margin-left: auto;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__check-button {
    display: none;
  }

  &__check-button + label {
    position: relative;
    padding-left: 50px;
    user-select: none;
    transition: all 0.1s linear;
    &::before {
      content: "";
      transition: all 0.1s linear;

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      border-width: 1px;
      border-style: solid;
      border-radius: 8px;
      border-color: #ea5959;
    }
  }

  &__check-button:hover + label {
    color: black;
    &::before {
      content: "";
      background-color: #ea595944;
    }
  }

  &__check-button:checked + label {
    &::before {
      content: "";
      background-color: #ea5959;
    }
  }

  &__all {
    background-color: #e45555;
  }
  &__groceries {
    background-color: #03ae03;
  }
  &__education {
    background-color: #4545ff;
  }
  &__payments {
    background-color: #009b84;
  }
}
