
.task-item {
  display: flex;
  line-height: 25px;
  font-size: 18px;
  align-items: center;

  &__category {
    margin-left: 18px;
    padding: 0 30px;
    background: #EA5959;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }

  &__delete-button {
    margin-left: auto;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out;
    
    &:hover {
      opacity: 1;
    }
  }

  &__check-button {
    display: none;
  }

  &__check-button + label {
    position: relative;
    padding-left: 50px;
    user-select: none;
    transition: all 0.1s linear;
    &::before {
      content: '';
    transition: all 0.1s linear;

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      border: 1px solid #EA5959;
      border-radius: 8px;
    }
  }

  &__check-button:hover + label {
    color: black;
    &::before {
      content: '';
      background-color: #ea595944;
    }
  }

  &__check-button:checked + label {
    &::before {
      content: '';
      background-color: #EA5959;
    }
  }

}